*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Merriweather', serif;
    background-color: whitesmoke;
}
.nav-bar{
    display: flex;
    align-items: center;
    padding: 11px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    justify-content: space-between;
    background-color: white;
    
}
.nav-bar-link{
    display: flex;
    column-gap: 10px;
    
}
.nav-bar-link a{
    color: #17131f;
    text-decoration: none;
}
.nav-bar-link a:hover{
    text-decoration: underline;
    color:black;
}
#drop-down-img{
    display: none;
}
.side-nav a{
    color: white;
    text-decoration: none;
}
.side-nav a:hover{
    color: black;
    text-decoration: underline;
}
.side-nav-bar{
    background-color: rgb(30, 21, 36);
    height: 100%;
    width: 39%;
    position: fixed;
    top: 0;
    left: -50%;
    transition: 2s;
    padding: 14px;
    display: block;
}
.theme{
    display: flex;
    justify-content: space-evenly;
    margin: 3%;
    padding: 1%;
    
}
.main-img{
    display: block;
}
.Customer-box{
    display: flex;
    flex-basis: 40%;
    
}
.Customer-box-content{
    margin: 2%;
    background-color: rgba(202, 199, 199, 0.298);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 1%;
    border-radius: 25px;
    opacity: 1;
}
.category-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.category-box{
    position: relative;
    flex-basis: 20%;
    margin: 1%;
}
.category-box button{
    position: absolute;
    top: 50%;
    left: 18%;
}
.copyright-box{
    padding: 1%;
    background-color:#1d232c;
    color: white;
}
/*search----------------------*/
.product-section-form{
    text-align: center;
    padding: 2%;

}
.search-bar{
    width: 60%;
    padding: 1%;
    border-radius: 25px;
}
#product{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    flex-basis: 30%;
}
.Contact-page-box{
    background-color: rgba(73, 26, 106, 0.879);
    height: 80%;
    width: 80%;
    padding: 6%;
    margin-top: 6%;
    margin-left: 9%;
    margin-right: 6%;
    margin-bottom: 2%;

}
#product img{
    height: 200px;
    width: 200px;

}





/*---media--*/
@media screen and (max-width:600px) {
    .nav-bar-link{
        display: none;
    }
    #drop-down-img{
        display: block;
    }
    .main-img{
        display: none;
    }
    .Customer-box{
        display: flex;
        flex-wrap: wrap;
        flex-basis: 100%;
        
    }
    
}










